body{
    background-image: url('/static/gradienta-LeG68PrXA6Y-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: brown;
}