{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Akronim&family=Londrina+Outline&family=Zen+Kaku+Gothic+Antique:wght@400;500;700;900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="col-md-8">

            <h4>{{pitch.pitch}}></h4>
        </div>

        <div class="col-md-4">

            {{ wtf.quick_form(comment_form) }}
        </div>

    </div>

{% endblock %}