{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macro%}

{% block styles %}
    {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

<!-- Content index block -->
{% block content %}
    <div>

        <div class="container col-xl-12 text-center introduction-wrapper">
            <div class="content title-wrapper">
                <h1 class="title">
                    Sixty-Six-Seconds
                </h1>
                <h2 class="sub-title">
                    <b>66 Seconds</b> to impress someone. First of all, that's way too much time!
                </h2>
            </div>

            {% if current_user.is_authenticated %}
                <h4>Hello {{current_user.username}}</h4>
            {% else %}
                <h4>Hello stranger</h4>
            {% endif %}
            
            <div class="mx-1" id="introduction">
                First Impressions matter and here at 66S we get it! So instead of putting even more prssure on you,
                we let you <i>hide</i> behind a screen and shine like the wonderful human you are!
                And don't worry the sixty six seconds aren't for you, (that's for the readers). 
            </div>
        </div>
        <div class="container">
    
            <div class="col-md-4">
            </div>
    
        </div>
        <div class="row">

            <h1>Pitches</h1>
            <hr>
    
                {{macro.displayPitches(pitches)}}
        </div>
    </div>
{% endblock %}