{% macro displayPitches(pitches) %}

    {% for pitch in pitches %}
    <div style="border: 1px solid pink;">
        <h5>{{pitch.category}}</h5>
        <h3>{{pitch.pitch | truncate(50)}}</h3>
        <h6>by: {{pitch.pitch_author}}</h6>
        <a class="btn btn-outline-dark btn-sm" href="/current_pitch/{{pitch.id}}"><strong>more</strong></a>
    </div>
    {% endfor %}
{% endmacro %}

{% macro displayComments(comments) %}

    {% for comment in comments %}
    <div>
        <p>{{comment.content | truncate(30)}}</p>
        <h6>{{comment.author}}</h6>
    </div>
    {% endfor %}
    
{% endmacro %}